@media (min-width: 1000px) and (max-width: 1200px) {
  /*****************************HOME*************************/

  .home-info__title {
    font-size: 48px;
  }

  .home-info__subtitle {
    font-size: 28px;
  }

  /*************************ABOUT*******************************/

  .about-top {
    width: 80%;
    padding: 0 45px 50px 0;
  }

  .about svg {
    width: 380px;
    height: 300px;
  }

  text {
    font-size: 75px;
  }

  .about-bottom,
  .about-middle {
    width: 80%;
    padding: 50px 45px;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  /*****************************HOME*************************/

  .home {
    padding-top: 15px;
  }

  .home-cover {
    width: 75%;
  }

  .home-info__title {
    font-size: 42px;
  }

  .home-info__subtitle {
    font-size: 24px;
  }

  .home-info__btn {
    width: 150px;
    padding: 5px;
  }

  /*************************ABOUT*******************************/
  .about {
    padding: 50px 30px;
  }

  .about-top,
  .about-middle,
  .about-bottom {
    width: 565px;
    padding: 0 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .about svg,
  .about rect {
    width: 565px;
    height: 250px;
  }

  text {
    font-size: 90px;
  }

  /****************************PORTFOLIO**************************/

  .card,
  .card__info {
    width: 250px;
    height: 250px;
  }

  .mySwiper2,
  .mySwiper2 > .swiper-container,
  .mySwiper {
    width: 70%;
  }

  .savetheales-text {
    width: 65%;
    font-size: 16px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  /*****************************HOME*************************/

  .home {
    padding-top: 10px;
  }

  .home-cover {
    width: 80%;
  }

  .home-info {
    left: 10%;
  }

  .home-info__title {
    font-size: 38px;
  }

  .home-info__subtitle {
    font-size: 20px;
  }

  .home-info__btn {
    width: 130px;
    padding: 5px;
    font-size: 16px;
  }

  /*************************ABOUT*******************************/

  .about {
    padding: 50px 30px;
  }

  .about-top,
  .about-middle,
  .about-bottom {
    width: 400px;
    padding: 0 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .about svg,
  .about rect {
    width: 400px;
    height: 250px;
  }

  text {
    font-size: 80px;
  }
  /****************************PORTFOLIO**************************/

  .portfolio {
    padding: 50px 30px;
  }

  .card,
  .card__info {
    width: 200px;
    height: 200px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__btn {
    width: 125px;
    padding: 5px;
  }

  .card__btn::before {
    font-size: 25px;
    width: 15px;
    right: 5px;
  }

  .mySwiper2,
  .mySwiper2 > .swiper-container,
  .mySwiper {
    width: 100%;
  }

  .slider-main__slide,
  .slider-small__slide {
    background-size: cover;
    background-position-x: 10%;
  }

  .savetheales-text {
    width: 90%;
    font-size: 16px;
  }

  .contact__icons {
    gap: 20px;
  }
}

@media (max-width: 499px) {
  .header {
    font-size: 14px;
  }

  /*****************************HOME*************************/

  .home {
    padding-top: 10px;
  }

  .home-cover {
    width: 90%;
  }

  .home-info {
    top: 65%;
  }

  .home-info__title {
    font-size: 28px;
  }

  .home-info__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .home-info__btn {
    width: 115px;
    padding: 5px;
    font-size: 14px;
  }

  .home-carousel.swiper-container {
    width: 100%;
    height: 60%;
  }

  .home-carousel__slide {
    border-radius: 0px 0px 0px 450px;
    width: 100%;
    height: 100%;
  }

  /*************************ABOUT*******************************/

  .about {
    padding: 10px 0;
    font-size: 14px;
  }

  .about h3 {
    font-size: 14px;
  }

  .education__subtitle,
  .education__item,
  .experience__subtitle,
  .experience__item {
    border: none;
  }

  progress {
    width: 250px;
  }

  .about-top,
  .about-middle,
  .about-bottom {
    width: 290px;
    padding: 0 0 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .about-top {
    border-radius: 200px 0 0 0;
  }

  .about svg,
  .about rect {
    width: 290px;
    height: 200px;
  }

  text {
    font-size: 55px;
  }
  /****************************PORTFOLIO**************************/

  .portfolio {
    padding: 20px;
  }

  .card__title,
  .card__text {
    font-size: 14px;
  }
  .card__btn {
    width: 110px;
    padding: 5px;
    font-size: 14px;
  }

  .card__btn::before {
    font-size: 20px;
    width: 10px;
    right: 5px;
  }

  .card,
  .card__info {
    width: 170px;
    height: 170px;
  }

  .card__btn::before {
    font-size: 15px;
  }

  .savetheales {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 15px;
  }

  .savetheales::after {
    content: "Save The Ales";
    color: var(--hl-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .mySwiper2,
  .mySwiper2 > .swiper-container {
    width: 100%;
    height: 50vh;
  }

  .slider-main__slide {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .mySwiper {
    display: none;
  }

  .savetheales-text {
    width: 80%;
    font-size: 14px;
  }

  .contact {
    padding: 20px 0;
  }

  .contact__form {
    width: 70vw;
    margin: 0 auto 25px;
  }

  .contact__icons {
    gap: 20px;
  }
}
